REDIS_URL=redis://localhost:6379/0
DATABASE_URL=postgresql+asyncpg://username_postgres:password@localhost:5434/domain_db
QDRANT_PATH=data/qdrant


OCR_DETECT_LANGS=ar,en,fr
OCR_CONFIDENCE_THRESHOLD=0.999
